<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="#">Time Reporter</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="connDropdown" role="button"
                       data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        Connection
                        {% if utils.hasOrmConnection() %}
                            <small>( {{ utils.getDatabaseName() }} )</small>
                        {% endif %}
                    </a>
                    <div class="dropdown-menu" aria-labelledby="connDropdown">
                        {% set hasJdbcConn = utils.hasJdbcConnection() %}
                        {% if user %}
                            <a class="dropdown-item" href="{{ path("/database/select/authenticated") }}">
                                Switch database
                            </a>
                        {% else %}
                            <a class="dropdown-item" href="{{ path("/database/connect") }}">
                                {% if hasJdbcConn %}
                                    Change connection
                                {% else %}
                                    Connect to a database
                                {% endif %}
                            </a>
                            {% if hasJdbcConn %}
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="{{ path("/database/select") }}">Select database</a>
                                <a class="dropdown-item" href="{{ path("/database/create") }}">Create new database</a>
                            {% endif %}
                        {% endif %}
                    </div>
                </li>

                {% if user %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path("/logout") }}">Logout</a>
                    </li>
                {% else %}
                    {% if utils.hasOrmConnection() %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path("/login") }}">Login</a>
                        </li>
                    {% endif %}
                {% endif %}
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>