{% extends '../base-layout.twig' %}

{% block body %}
    {% set task = viewModel.task %}
    {% set subtasks = viewModel.subTasks %}
    {% set project = viewModel.taskProject %}
    <div class="mr-auto mt-2 pt-3">
        <div>
            <h3>Details</h3>
            {% if project.owner.id == user.id %}
                <a href="{{ path("/tasks/edit/" ~ task.id) }}" class="btn btn-sm btn-info pt-0 pb-0">Edit</a>
            {% endif %}
            <hr>
            <div class="row">
                <div class="col-md-6">
                    <dl class="row description-list">
                        <dt class="col-md-4">Task Name:</dt>
                        <dd class="col-md-8">{{ task.taskName }}</dd>
                        <dt class="col-md-4">Start Date:</dt>
                        <dd class="col-md-8">{{ utils.formatDate(task.startDate) }}</dd>
                        <dt class="col-md-4">Completed:</dt>
                        <dd class="col-md-8">{% if task.completed %}Yes{% else %}No{% endif %}</dd>
                        {% if task.parentTask %}
                            <dt class="col-md-4">Parent Task:</dt>
                            <dd class="col-md-8">
                                <a href="{{ path("/tasks/details/" ~ task.parentTask.id) }}">
                                    {{ task.parentTask.taskName }}
                                </a>
                            </dd>
                        {% endif %}
                    </dl>
                </div>
                <div class="col-md-6">
                    <dl class="row description-list">
                        {% if task.endDate %}
                            <dt class="col-md-4">Task Duration:</dt>
                            <dd class="col-md-8">
                                {{ utils.calculateDaysDiff(task.startDate, task.endDate) }} Days
                            </dd>
                            <dt class="col-md-4">End Date:</dt>
                            <dd class="col-md-8">{{ utils.formatDate(task.endDate) }}</dd>
                        {% endif %}
                        <dt class="col-md-4">Number of Tasks:</dt>
                        <dd class="col-md-8">{{ subtasks.size }}</dd>
                        <dt class="col-md-4">Total Reported Hours:</dt>
                        <dd class="col-md-8">{{ utils.formatReportedTime(viewModel.totalReportedTime) }}</dd>
                    </dl>
                </div>
            </div>
        </div>
        {% if subtasks.size > 0 %}
            <div descr="Subtasks">
                <div class="mt-1 addable-table-container">
                    <h3>Subtasks</h3>
                    <hr class="mt-1 mb-1">
                    <div class="row pb-2">
                        <div class="col-md-6"></div>
                        <div class="col-md-6 text-right">
                            <div id="subTasksSearchButtonContainer"></div>
                        </div>
                    </div>
                    {% embed '../tables/tasks-advanced.twig' with {'tasks': subtasks} %} {% endembed %}
                </div>
            </div>
            <br>
        {% endif %}
    </div>
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="/static/css/data-tables.css">
{% endblock %}

{% block javascripts %}
    <script src="/static/js/data-tables.js"></script>
    <script src="/static/js/data-table-search-presets.js"></script>
    <script src="/static/js/data-table-linking.js"></script>

    <script>
        $(function () {
            {% if subtasks.size > 0 %}
            const tasksTable = document.getElementById('listTasksTable');
            const tasksSearchContainer = document.getElementById('subTasksSearchButtonContainer');

            SearchPresets.task(tasksTable, tasksSearchContainer);
            {% endif %}
        });
    </script>
{% endblock %}