{% extends '../base-layout.twig' %}

{% block body %}
    <div class="mr-auto mt-2 pt-3">
        <h3>Edit Task</h3>
        <form method="post">

            <div class="form-group">
                <label for="parentTask">Parent Task
                    <small>(Not required)</small>
                </label>
                <select name="parentTask" id="parentTask" class="form-control selectize">
                    <option value="" disabled selected>-- None --</option>
                    {% for task in allProjectTasks %}
                        <option value="{{ task.id }}" {% if task.id == model.parentTask.id %} selected {% endif %}>{{ task.taskName }}</option>
                    {% endfor %}
                </select>
                {% embed '../field-err.twig' with {fieldName: 'parentTask'} %} {% endembed %}
            </div>

            <div class="form-group">
                <label for="taskName">Task Name</label>
                <input value="{{ model.taskName }}" type="text" id="taskName" name="taskName" class="form-control"
                       required placeholder="Max 30 characters">
                {% embed '../field-err.twig' with {fieldName: 'taskName'} %} {% endembed %}
            </div>

            <div class="form-group">
                <label for="endDate">Task End Date
                    <small>( if applicable )</small>
                </label>
                <input value="{{ model.endDate }}" type="text" id="endDate" name="endDate"
                       class="form-control date-time-picker" placeholder="Not required">
                {% embed '../field-err.twig' with {fieldName: 'endDate'} %} {% endembed %}
            </div>

            <div class="form-group">
                <label for="completed">Project Completed</label>
                <input type="checkbox" id="completed" name="completed" {% if model.completed %} checked {% endif %}>
                {% embed '../field-err.twig' with {fieldName: 'completed'} %} {% endembed %}
            </div>

            <div class="form-group text-right">
                <button class="btn btn-info">
                    Save
                </button>
            </div>
        </form>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="/static/js/date-picker.js"></script>
    <script>
        $(function () {
            const picker = new DatePicker('#endDate');
            DatePickerPresets.datePicker(picker, false);

            const dp = picker.initialize().data('datepicker');
            const twigEndDate = '{{ utils.formatDateForJs(model.endDate) }}';
            if (twigEndDate) {
                dp.selectDate(new Date(twigEndDate));
            }
        });
    </script>
{% endblock %}