{% extends '../base-layout.twig' %}

{% block body %}
    {% set project = viewModel.project %}
    {% set isOwner = project.owner.id == user.id %}

    <div class="mr-auto mt-2 pt-3">
        <div>
            <h3>Details</h3>
            {% if isOwner %}
                <a href="{{ path("/projects/edit/" ~ project.id) }}" class="btn btn-sm btn-info pt-0 pb-0">Edit</a>
            {% endif %}
            <hr>
            <div class="row">
                <div class="col-md-6">
                    <dl class="row description-list">
                        <dt class="col-md-4">Project Name:</dt>
                        <dd class="col-md-8">{{ project.projectName }}</dd>
                        <dt class="col-md-4">Start Date:</dt>
                        <dd class="col-md-8">{{ utils.formatDate(project.startDate) }}</dd>
                        <dt class="col-md-4">Owner:</dt>
                        <dd class="col-md-8">{{ project.owner.username }}</dd>
                        <dt class="col-md-4">Completed:</dt>
                        <dd class="col-md-8">{% if project.completed %}Yes{% else %}No{% endif %}</dd>
                    </dl>
                </div>
                <div class="col-md-6">
                    <dl class="row description-list">
                        {% if project.endDate %}
                            <dt class="col-md-4">Project Duration:</dt>
                            <dd class="col-md-8">
                                {{ utils.calculateDaysDiff(project.startDate, project.endDate) }} Days
                            </dd>
                            <dt class="col-md-4">End Date:</dt>
                            <dd class="col-md-8">{{ utils.formatDate(project.endDate) }}</dd>
                        {% endif %}
                        <dt class="col-md-4">Number of Tasks:</dt>
                        <dd class="col-md-8">{{ viewModel.mainTasks.size }}</dd>
                        <dt class="col-md-4">Total Reported Hours:</dt>
                        <dd class="col-md-8">{{ utils.formatReportedTime(viewModel.totalReportedTime) }}</dd>
                    </dl>
                </div>
            </div>
        </div>
        {% if myReports.size > 0 %}
            <div>
                <h3>My Reports</h3>
                <hr>
                <dl class="row description-list">
                    <dt class="col-md-4">Total Reports:</dt>
                    <dd class="col-md-8">{{ myReports.size }}</dd>
                    <dt class="col-md-4">Total Reported Hours</dt>
                    <dd class="col-md-8">{{ utils.formatReportedTime(myReportsTotalHours) }}</dd>
                </dl>
            </div>
            <br>
        {% endif %}

        {% if isOwner %}
            <div descr="Participants">
                <div class="mt-1 addable-table-container">
                    <h3>Participants</h3>
                    <hr class="mt-1 mb-1">
                    <div class="row pb-2">
                        <div class="col-md-6">
                            <button class="btn btn-sm btn-info text-light add-row-btn pt-0 pb-0">Add</button>
                        </div>
                        <div class="col-md-6 text-right">
                            <div id="participantsSearchButtonContainer"></div>
                        </div>
                    </div>
                    {% embed '../tables/project-participants.twig' with {'participants': participants} %} {% endembed %}
                </div>
            </div>
            <br>
        {% endif %}

        {% if project.isParticipant(user) %}
            <div descr="Tasks">
                <h3>Tasks</h3>
                <hr class="mt-1 mb-1">
                <div class="row">
                    <div class="col-md-6">

                    </div>
                    <div class="col-md-6 text-right">
                        <div id="projectTasksSearchContainer"></div>
                    </div>
                </div>
                <div class="mt-1 mb-5 pb-2">
                    {% embed '../tables/tasks-simple.twig' with {'tasks': viewModel.mainTasks} %} {% endembed %}
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="/static/css/data-tables.css">
{% endblock %}

{% block javascripts %}
    <script src="/static/js/data-tables.js"></script>
    <script src="/static/js/data-table-search-presets.js"></script>

    <script>
        $(function () {

            const callAction = (url) => {
                $.ajax({
                    type: 'POST',
                    url,
                    success: function (res) {
                        alert(res.response.message);
                        location.reload();
                    },
                    error: function (err) {
                        console.log(err);
                        alert('Something went wrong!');
                        location.reload();
                    }
                });
            };

            {% if project.isParticipant(user) %}
            const tasksTable = document.getElementById('listTasksTable');
            const tasksSearchContainer = document.getElementById('projectTasksSearchContainer');
            SearchPresets.task(tasksTable, tasksSearchContainer);
            {% endif %}

            {% if isOwner %}

            const participantsTable = document.getElementById('listProjectParticipantsTable');
            const participantsSearchContainer = document.getElementById('participantsSearchButtonContainer');
            SearchPresets.participants(participantsTable, participantsSearchContainer);

            const jParticipantsTable = $(participantsTable);
            jParticipantsTable.on('click', '.add-participant-btn', function (e) {
                const participantName = $(this).parent().parent().find('.enter-participant-name').val();
                callAction('{{ path("/projects/"~ project.id ~"/add/") }}' + participantName);
            });

            jParticipantsTable.find('.remove-participant-btn').on('click', function (e) {
                const participantName = $(this).data('username');
                callAction('{{ path("/projects/"~ project.id ~"/remove/") }}' + participantName);
            });

            {% endif %}

            {#$('.col-link').on('click', function (e) {#}
            {#const id = $(this).parent().data('project-id');#}
            {#location.href = "{{ path("/projects/details/") }}" + id;#}
            {#});#}
        });
    </script>
{% endblock %}